<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guliash.calculator" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SaveActivity"
            android:label="@string/title_activity_save"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".ui.activities.OpenActivity"
            android:label="@string/title_activity_open" />
        <activity
            android:name=".ui.activities.HelpActivity"
            android:label="@string/title_activity_help" />
        <activity android:name=".ui.activities.DescriptionActivity"
            android:label="@string/description"/>
        <activity android:name=".ui.activities.SettingsActivity"
            android:label="@string/settings"/>
    </application>

</manifest>
